<!--@subject A message for you @-->
{{template config_path="design/email/header_template"}}

<table role="presentation">
    <tr class="email-intro">
        <td>
            <p class="greeting">Hi {{var customer_name}},</p>
            {{depend message}}
            <p>{{var message}}</p>
            {{/depend}}
            {{depend coupon_code}}
            <p>Here's a code for you: <strong>{{var coupon_code}}</strong></p>
            {{/depend}}
        </td>
    </tr>
    {{depend recommended_products_html}}
    <tr>
        <td>{{var recommended_products_html|raw}}</td>
    </tr>
    {{/depend}}
</table>

{{template config_path="design/email/footer_template"}}
