includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - .
    excludePaths:
        - vendor/*
        - Test/*
    magento:
        magentoRoot: '%currentWorkingDirectory%'
