includes:
    - ../../bitexpert/phpstan-magento/extension.neon

parameters:
    level: max
    paths:
        - .
    excludePaths:
        - vendor/*
        - Test/*
    magento:
        magentoRoot: '%currentWorkingDirectory%'
