<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ordo_Automation::config" title="Ordo Automation Section" translate="title" sortOrder="500"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Ordo_Automation::campaigns" title="Ordo Automation Campaigns" translate="title" sortOrder="510"/>
                <resource id="Ordo_Automation::free_gifts" title="Ordo Automation Free Gifts" translate="title" sortOrder="520"/>
                <resource id="Ordo_Automation::segments" title="Ordo Automation Segments" translate="title" sortOrder="530"/>
                <resource id="Ordo_Automation::score_rules" title="Ordo Automation Score Rules" translate="title" sortOrder="540"/>
                <resource id="Ordo_Automation::content_blocks" title="Ordo Automation Content Blocks" translate="title" sortOrder="550"/>
            </resource>
        </resources>
    </acl>
</config>
