<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="ordo_automation_send_welcome_email" instance="Ordo\Automation\Observer\SendWelcomeEmail"/>
        <observer name="ordo_automation_dispatch_customer_registered_campaigns" instance="Ordo\Automation\Observer\DispatchCustomerRegisteredCampaigns"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="ordo_automation_hold_order_for_approval" instance="Ordo\Automation\Observer\HoldOrderForApproval"/>
        <observer name="ordo_automation_dispatch_order_placed_campaigns" instance="Ordo\Automation\Observer\DispatchOrderPlacedCampaigns"/>
        <observer name="ordo_automation_record_trigger_outcome" instance="Ordo\Automation\Observer\RecordTriggerOutcome"/>
    </event>
    <event name="ordo_customer_tag_added">
        <observer name="ordo_automation_dispatch_tag_added_campaigns" instance="Ordo\Automation\Observer\DispatchTagAddedCampaigns"/>
    </event>
    <event name="ordo_visitor_tag_added">
        <observer name="ordo_automation_dispatch_visitor_tag_added_campaigns" instance="Ordo\Automation\Observer\DispatchVisitorTagAddedCampaigns"/>
    </event>
    <event name="customer_login">
        <observer name="ordo_automation_stitch_visitor_identity" instance="Ordo\Automation\Observer\StitchVisitorIdentity"/>
    </event>
    <event name="sales_quote_collect_totals_after">
        <observer name="ordo_automation_trim_excess_free_gifts" instance="Ordo\Automation\Observer\TrimExcessFreeGifts"/>
    </event>
    <event name="customer_save_after">
        <observer name="ordo_automation_evaluate_customer_score_rules" instance="Ordo\Automation\Observer\EvaluateCustomerScoreRules"/>
    </event>
    <event name="ordo_customer_score_threshold_crossed">
        <observer name="ordo_automation_dispatch_score_threshold_campaigns" instance="Ordo\Automation\Observer\DispatchScoreThresholdCampaigns"/>
    </event>
</config>
